body{
    background-color: #ccc;
}

.container{
    position:relative;
    left:10%;
    width:80%;
    border:1px solid #111
}

header{
    position:absolute;
    border:1px solid #000;
    width:100%;
    
}

header li{
    float: left;
    list-style: none
}

#list-main{
    color:gray;
}

header li a{
    text-decoration: none;
    color:#000;
    margin:0 50px;
}